### Data Ingestion
 The following publicly available dataset has been downloaded from https://data.gov.in/catalog/historical-daily-ambient-air-quality-data for following years. Note 2010 is missing.

In [20]:
ls -1 delhi_data

delhi-2005.json
delhi-2006.json
delhi-2007.json
delhi-2008.json
delhi-2009.json
delhi-2011.json
delhi-2012.json
delhi-2013.json
delhi-2014.json
delhi-2015.json

In [21]:
import pandas as pd

In [22]:
delhi_2015=pd.read_json("delhi_data/delhi-2015.json")
delhi_2015.columns = delhi_2015.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2015 = delhi_2015[1:] #take the data less the header row

In [23]:
delhi_2014=pd.read_json("delhi_data/delhi-2014.json")
delhi_2014.columns = delhi_2014.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2014 = delhi_2014[1:] #take the data less the header row

In [24]:
delhi_2013=pd.read_json("delhi_data/delhi-2013.json")
delhi_2013.columns = delhi_2013.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2013 = delhi_2013[1:] #take the data less the header row

In [25]:
delhi_2012=pd.read_json("delhi_data/delhi-2012.json")
delhi_2012.columns = delhi_2012.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2012 = delhi_2012[1:] #take the data less the header row

In [26]:
delhi_2011=pd.read_json("delhi_data/delhi-2011.json")
delhi_2011.columns = delhi_2011.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2011 = delhi_2011[1:] #take the data less the header row

#### ðŸ˜’ No Data available on data.gov.in for year 2010

In [27]:
delhi_2009=pd.read_json("delhi_data/delhi-2009.json")
delhi_2009.columns = delhi_2009.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2009 = delhi_2009[1:] #take the data less the header row

In [28]:
delhi_2008=pd.read_json("delhi_data/delhi-2008.json")
delhi_2008.columns = delhi_2008.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2008 = delhi_2008[1:] #take the data less the header row

In [29]:
delhi_2008=pd.read_json("delhi_data/delhi-2008.json")
delhi_2008.columns = delhi_2008.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2008 = delhi_2008[1:] #take the data less the header row

In [30]:
delhi_2007=pd.read_json("delhi_data/delhi-2007.json")
delhi_2007.columns = delhi_2007.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2007 = delhi_2007[1:] #take the data less the header row

In [31]:
delhi_2006=pd.read_json("delhi_data/delhi-2006.json")
delhi_2006.columns = delhi_2006.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2006 = delhi_2006[1:] #take the data less the header row

In [32]:
delhi_2005=pd.read_json("delhi_data/delhi-2005.json")
delhi_2005.columns = delhi_2005.iloc[0] #set the header row as the dataframe header by grabbing the first row for the header
delhi_2005 = delhi_2005[1:] #take the data less the header row

#### Connect all the data in a single data structure

In [33]:
delhi_data=delhi_2005.append(delhi_2006).append(delhi_2007).append(delhi_2006).append(delhi_2007).append(delhi_2008).append(delhi_2009).append(delhi_2011).append(delhi_2012).append(delhi_2013).append(delhi_2014).append(delhi_2015)

#### Fix Column Names

In [34]:
delhi_data.columns=delhi_data.columns.str.strip().str.lower().str.replace(' ','_')

#### Fix Dates

In [35]:
for idx,row in delhi_data.iterrows():
    dt=str(row['sampling_date'])
    if(dt[-5]=='/'):
        ndt=dt.split('/')
        dd="0"+ndt[0] if len(ndt[0])<2 else ndt[0]
        mm="0"+ndt[1] if len(ndt[1])<2 else ndt[1]
        yy=ndt[2][-2:]
        delhi_data.loc[idx,'sampling_date']=dd+'-'+mm+'-'+yy

#### Save all the ingested data to a single csv

In [39]:
delhi_data.to_csv("delhi_data.csv",index=False)

<img src="https://m.popkey.co/20f09e/qrVG5.gif">